@import 'fonts'
@import 'variables'
@import 'typography'
@import 'tools'
@import 'page-elements'

h1,h2,h3
  margin: 0

header
  height: 55px
  @media all and (max-width:790px)

.main
  //position: absolute
  top: 50px
  width: 100%
  @media all and(max-width: 790px)
    background: url(../../images/forest.jpg) no-repeat top center / cover
    padding: 200px 0
    top: 40px

  video
    width: 100%
    height: auto
    @media all and (max-width:790px)
      display: none

.molekule-intro
  padding: 50px 15px
  background: $grey-200
  @extend %flex-row
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center

  @media all and (max-width:830px)
    flex-flow: column wrap

    

  @media all and (min-width:330px)
      h3
        font-size: 2.2rem

      img
        width: 50%
        align-self: center

        

  .meet-molekule
    flex: 0 1 30%


  .pic
    flex: 1 1 70%
    @extend %flex-row
    justify-content: flex-end

.clean-air
  padding: 250px 20px
  background: url(../../images/girl-3840.jpg) no-repeat top center / cover
  @extend %flex-col
  align-items: flex-start
  justify-content: flex-start

  @media all and (min-width:330px)
    padding: 50px 15px
    h1
      font-size: 2.5rem
      text-align: center
    p
      text-align: center

  p
    max-width: 50rem
  
  h1
      max-width: 80rem

  .air-statistics
    @extend %flex-row
    padding: 20px
    @media all and (min-width:330px)
      justify-content: center
      p
        text-align: center

    .row
      @extend %flex-col
      align-items: center
      color: #fff

      p
        max-width: 18rem


.air-contents
  
  @extend %flex-row
  flex-wrap: nowrap
  align-items: center
  background: lighten($green-200,30%)
  @media all and (min-width:330px)
    flex-flow: column wrap
  .overview
    flex: 0 1 30%
    padding: 0 25px
    @media all and (min-width:330px)
      padding: 20px 10px
      text-align: center
  .air-details
    
    flex: 1 0 60%
    @extend %flex-col
    align-items: stretch

    .details-row
      @extend %flex-row
      flex-wrap: nowrap
      @media all and (max-width:330px)
        flex-flow: column wrap

      .details_block
        @extend %flex-col
        flex: 1
        background: transparentize($green-200,.7)  url(../../images/viruses.png) no-repeat center center 
        height: 300px
        margin: 2px
        transition: .5s all ease-in
        overflow: hidden

        &:hover
          background: $green-300  url(../../images/viruses.png) no-repeat center 300px
          .pop-up
            transform: translateY(0)

        h3
          text-align: center
          padding-top: 50px

        p
          align-self: center
          margin-top: auto

        .pop-up
          transition: .5s all ease-in-out
          text-align: center
          transform: translateY(250px)

      .pollutants
        background-image: none
        &:hover
          background: $green-300


      .allergens
        background-image: url(../../images/allergens.png)

      .airborne
        background-image: url(../../images/airborne.png)

      .mold
        background-image: url(../../images/mold.png)

      .viruses
        background-image: url(../../images/viruses.png)

      .bacteria
        background-image: url(../../images/bacteria.png)

.science
  padding: 50px 0
  background: $grey-200
  max-height: 400px
  @extend %flex-row
  .science-info
    padding: 50px 25px
    flex: 1
    overflow-y: scroll

    p
      max-width: 60rem

    &::-webkit-scrollbar
      display: none
    
    .intro
      margin-bottom: 500px

  .demo
    flex: 1
    background: url(../../images/s6-after.png) no-repeat center center / cover

.testers
  padding: 20px 15px
  @extend %flex-row
  flex-flow: row nowrap
  align-items: center
  justify-content: space-between


  .test-intro
    

  .people
    @extend %flex-col
    flex-wrap: nowrap

    .tester
      @extend %flex-row
      flex-flow: row nowrap
      align-items: center
      transition: .4s all ease-in
      opacity: .6

      &:hover
        opacity: 1

        span:after
          opacity: 1

        p
          transform: translateY(0)
          opacity: 1


      span
        background: $grey-300
        height: 149px
        width: 174px
        display: inline-block
        text-align: center
        position: relative
        padding-top: 20px
        overflow: hidden


        &:after
          content: "Judi McShane"
          display: block
          position: absolute
          bottom: 10px
          left: 30px
          transition: .4s all ease-in
          opacity: 0



      p
        max-width: 40%
        padding: 0 15px
        text-align: center
        transition: .4s all ease-in
        transform: translateY(50px)
        opacity: 0

.reviews
  padding: 50px 25px
  @extend %flex-row
  background: $grey-300

  .review
    @extend %flex-col
    flex: 1
    align-items: center

    p
      text-align: center

.sold-out
  @extend %flex-row
  align-items: center
  padding: 50px 0 0 25px
  .sold
    flex: 1 0 80%
  .mole-pic
    flex: 0 1 20%
    img
      width: 100%

footer
  background: $grey-400
  color: #fff
  padding: 50px 25px

  .sign-up
    form
      @extend %flex-row
      margin: 10px 0
      button
        background: transparent
        text-transform: uppercase
        color: #fff
        border: 1px solid #fff
        padding: 10px 5px
        font-size: 1.6rem
      input
        @extend button
        text-transform: none
        border-right: none

  p
    margin: 0
    




          

        
          
