doctype html
html
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="assets/styles/css/normalize.css")
		link(rel="stylesheet", href="assets/styles/css/test.css")
	body
		h1 Headline one
		h2 Headline two
		h3 Headline three
		p(style="max-width:600px")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. At mollitia fugit molestiae debitis, reprehenderit ratione aliquid sapiente dolore. Ut quas autem inventore dolorum ducimus, consequatur, delectus laudantium perferendis! Culpa doloremque, inventore, perferendis et deserunt sequi assumenda odit iusto ex labore magni? Provident a veniam repellat molestias accusamus est officia amet.
		a(href="#") some link
	